:root {
  --primary-color: #ed6436;
  --secondary-color: #fff;
  --terciary-color: #000;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body,
h1,
h2 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}
